.elemento-hls1 {
    background-color: hsl(240, 100%, 50%);
    color: white;
    padding: 10px;
    text-align: center;
}

.elemento-hls2 {
    background-color: hsl(120, 100%, 50%);
    color: white;
    padding: 10px;
    text-align: center;
}

.elemento-hls3 {
    background-color: hsl(0, 100%, 50%);
    color: white;
    padding: 10px;
    text-align: center;
}
