[class^="intro"] { 
    background-color: lightblue; 
}

[class$="final"] { 
    color: red; 
}

[class*="mid"] { 
    font-weight: bold; 
}

a[href^="#"] { 
    background-color: gold; 
}

a[href$=".org"] { 
    color: red; 
}
