/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ffc0cb; /* Rosado claro */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos de la sección principal */
main {
    padding: 20px;
}

section h2 {
    font-size: 1.8em;
    color: #333;
}

section p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #666;
}

section.especial {
    background-color: lightblue;
    padding: 20px;
    margin-top: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
